In [73]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [74]:
df1 = pd.read_csv("Sepsis_Cases_Log.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15099 entries, 0 to 15098
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Case ID                    15075 non-null  object
 1   Activity                   15099 non-null  object
 2   Complete Timestamp         15099 non-null  object
 3   Variant                    15099 non-null  object
 4   Variant index              15099 non-null  int64
 5   lifecycle:transition       15099 non-null  object
 6   org:group                  15099 non-null  object
 7   InfectionSuspected         1013 non-null   object
 8   DiagnosticBlood            1013 non-null   object
 9   DisfuncOrg                 1013 non-null   object
 10  SIRSCritTachypnea          1013 non-null   object
 11  Hypotensie                 1013 non-null   object
 12  SIRSCritHeartRate          1013 non-null   object
 13  Infusion                   1013 non-null   object
 14  DiagnosticArtAstrup        1013 non-null   object
 15  Age                        1013 non-null   float64
 16  DiagnosticIC               1013 non-null   object
 17  DiagnosticSputum           1013 non-null   object
 18  DiagnosticLiquor           1013 non-null   object
 19  DiagnosticOther            1013 non-null   object
 20  SIRSCriteria2OrMore        1013 non-null   object
 21  DiagnosticXthorax          1013 non-null   object
 22  SIRSCritTemperature        1013 non-null   object
 23  DiagnosticUrinaryCulture   1013 non-null   object
 24  SIRSCritLeucos             1013 non-null   object
 25  Oligurie                   1013 non-null   object
 26  DiagnosticLacticAcid       1013 non-null   object
 27  Diagnose                   794 non-null    object
 28  Hypoxie                    1013 non-null   object
 29  DiagnosticUrinarySediment  1013 non-null   object
 30  DiagnosticECG              1013 non-null   object
 31  Leucocytes                 3361 non-null   float64
 32  CRP                        3123 non-null   float64
 33  LacticAcid                 1454 non-null   float64
dtypes: float64(4), int64(1), object(29)
memory usage: 3.9+ MB

In [75]:
df1.head(5)

,Case ID,Activity,Complete Timestamp,Variant,Variant index,lifecycle:transition,org:group,InfectionSuspected,DiagnosticBlood,DisfuncOrg,...,SIRSCritLeucos,Oligurie,DiagnosticLacticAcid,Diagnose,Hypoxie,DiagnosticUrinarySediment,DiagnosticECG,Leucocytes,CRP,LacticAcid
0,A,ER Registration,15:41.0,Variant 61,61,complete,A,True,True,True,...,False,False,True,A,False,True,True,NaN,NaN,NaN
1,A,Leucocytes,27:00.0,Variant 61,61,complete,B,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.6,NaN,NaN
2,A,CRP,27:00.0,Variant 61,61,complete,B,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN
3,A,LacticAcid,27:00.0,Variant 61,61,complete,B,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2
4,A,ER Triage,33:37.0,Variant 61,61,complete,C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df1.describe()
df1 = df1.drop(columns=['org:group', 'Complete Timestamp', 'Variant', 'Variant index', 'Diagnose', 'lifecycle:transition'])

In [77]:
df1.head()

,Case ID,Activity,InfectionSuspected,DiagnosticBlood,DisfuncOrg,SIRSCritTachypnea,Hypotensie,SIRSCritHeartRate,Infusion,DiagnosticArtAstrup,...,DiagnosticUrinaryCulture,SIRSCritLeucos,Oligurie,DiagnosticLacticAcid,Hypoxie,DiagnosticUrinarySediment,DiagnosticECG,Leucocytes,CRP,LacticAcid
0,A,ER Registration,True,True,True,True,True,True,True,True,...,True,False,False,True,False,True,True,NaN,NaN,NaN
1,A,Leucocytes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.6,NaN,NaN
2,A,CRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN
3,A,LacticAcid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2
4,A,ER Triage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:

df_act_flow = pd.DataFrame()

# Loop through each unique Case ID
for case in df1['Case ID'].unique():
    # Filter the data for the current Case ID
    case_data = df1[df1['Case ID'] == case]
    
    # Extract the activities as a list
    activity_flow = case_data['Activity'].tolist()
    
    # Add the Case ID as the first column and the activities as subsequent columns
    row_data = [case] + activity_flow
    
    # Append the row to the final DataFrame
    df_act_flow = pd.concat([df_act_flow, pd.DataFrame([row_data])], ignore_index=True)

# Rename columns: first column as 'Case ID', remaining columns as 'Activity 1', 'Activity 2', etc.
columns = ['Case ID'] + [f'Activity {i+1}' for i in range(df_act_flow.shape[1] - 1)]
df_act_flow.columns = columns

# Inspect the resulting DataFrame
print(df_act_flow.head(10))

  Case ID       Activity 1  Activity 2        Activity 3      Activity 4  \
0       A  ER Registration  Leucocytes               CRP      LacticAcid
1       B  ER Registration   ER Triage               CRP      LacticAcid
2       C  ER Registration   ER Triage  ER Sepsis Triage      Leucocytes
3       D  ER Registration   ER Triage  ER Sepsis Triage             CRP
4       E  ER Registration   ER Triage  ER Sepsis Triage       IV Liquid
5       F  ER Registration   ER Triage  ER Sepsis Triage      Leucocytes
6       G  ER Registration   ER Triage  ER Sepsis Triage       IV Liquid
7       H  ER Registration   ER Triage  ER Sepsis Triage             CRP
8       I  ER Registration   ER Triage  ER Sepsis Triage  IV Antibiotics
9       J  ER Registration   ER Triage  ER Sepsis Triage             CRP

       Activity 5        Activity 6      Activity 7      Activity 8  \
0       ER Triage  ER Sepsis Triage       IV Liquid  IV Antibiotics
1      Leucocytes  ER Sepsis Triage       IV Liquid  IV Antibiotics
2             CRP         IV Liquid  IV Antibiotics    Admission NC
3      LacticAcid        Leucocytes       IV Liquid  IV Antibiotics
4             CRP        Leucocytes      LacticAcid  IV Antibiotics
5             CRP        LacticAcid  IV Antibiotics       IV Liquid
6  IV Antibiotics        LacticAcid             CRP      Leucocytes
7      LacticAcid        Leucocytes    Admission IC    Admission NC
8      Leucocytes               CRP      LacticAcid    Admission NC
9      Leucocytes        LacticAcid       IV Liquid  IV Antibiotics

     Activity 9  ... Activity 176 Activity 177 Activity 178 Activity 179  \
0  Admission NC  ...          NaN          NaN          NaN          NaN
1  Admission NC  ...          NaN          NaN          NaN          NaN
2  Admission NC  ...          NaN          NaN          NaN          NaN
3  Admission NC  ...          NaN          NaN          NaN          NaN
4           NaN  ...          NaN          NaN          NaN          NaN
5  Admission NC  ...          NaN          NaN          NaN          NaN
6  Admission NC  ...          NaN          NaN          NaN          NaN
7           CRP  ...          NaN          NaN          NaN          NaN
8    Leucocytes  ...          NaN          NaN          NaN          NaN
9  Admission NC  ...          NaN          NaN          NaN          NaN

  Activity 180 Activity 181 Activity 182 Activity 183 Activity 184  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

  Activity 185
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN

[10 rows x 186 columns]

In [79]:
# Filter the DataFrame to include only rows where Activity == 'ER Registration'
df_er_registration = df1[df1['Activity'] == 'ER Registration']

# Reset index for cleanliness (optional)
df_er_registration = df_er_registration.reset_index(drop=True)

# Inspect the resulting DataFrame
print(df_er_registration.head(20))

   Case ID         Activity InfectionSuspected DiagnosticBlood DisfuncOrg  \
0        A  ER Registration               True            True       True
1        B  ER Registration               True            True      False
2        C  ER Registration               True            True      False
3        D  ER Registration               True            True      False
4        E  ER Registration               True            True      False
5        F  ER Registration               True            True      False
6        G  ER Registration               True            True      False
7        H  ER Registration              False           False      False
8        I  ER Registration               True            True      False
9        J  ER Registration               True            True      False
10       K  ER Registration               True            True      False
11       L  ER Registration               True            True      False
12       N  ER Registration               True            True      False
13       O  ER Registration               True            True      False
14       R  ER Registration              False           False      False
15       S  ER Registration               True            True      False
16       T  ER Registration               True            True       True
17       U  ER Registration              False           False      False
18       V  ER Registration               True            True      False
19       W  ER Registration               True            True      False

   SIRSCritTachypnea Hypotensie SIRSCritHeartRate Infusion  \
0               True       True              True     True
1               True      False              True     True
2              False      False              True     True
3               True      False              True     True
4               True      False              True     True
5              False      False              True     True
6              False      False              True     True
7               True      False              True    False
8              False      False              True    False
9               True      False              True     True
10              True      False              True     True
11              True      False              True     True
12             False      False              True     True
13              True      False              True     True
14             False      False             False    False
15              True      False              True     True
16             False       True              True     True
17             False      False             False    False
18              True      False              True     True
19             False      False              True     True

   DiagnosticArtAstrup  ...  DiagnosticUrinaryCulture SIRSCritLeucos Oligurie  \
0                 True  ...                      True          False    False
1                False  ...                      True          False    False
2                 True  ...                      True          False    False
3                 True  ...                     False          False    False
4                 True  ...                      True          False    False
5                False  ...                     False          False    False
6                False  ...                      True          False    False
7                False  ...                     False          False    False
8                 True  ...                      True          False    False
9                False  ...                     False          False    False
10               False  ...                      True          False    False
11               False  ...                      True          False    False
12               False  ...                      True          False    False
13               False  ...                     False          False    False
14               False  ...                     False          False    False
15               False  ...                     False          False    False
16               False  ...                      True          False    False
17               False  ...                     False          False    False
18               False  ...                      True          False    False
19               False  ...                      True          False    False

   DiagnosticLacticAcid Hypoxie DiagnosticUrinarySediment DiagnosticECG  \
0                  True   False                      True          True
1                  True   False                      True          True
2                  True   False                      True          True
3                  True   False                     False          True
4                  True   False                      True          True
5                  True   False                     False          True
6                  True   False                      True          True
7                 False   False                     False         False
8                  True   False                      True          True
9                  True   False                      True          True
10                 True   False                      True          True
11                 True   False                      True          True
12                 True   False                      True         False
13                 True   False                     False          True
14                False   False                     False         False
15                 True   False                     False          True
16                 True   False                      True          True
17                False   False                     False         False
18                 True   False                      True          True
19                 True   False                      True          True

   Leucocytes CRP LacticAcid
0         NaN NaN        NaN
1         NaN NaN        NaN
2         NaN NaN        NaN
3         NaN NaN        NaN
4         NaN NaN        NaN
5         NaN NaN        NaN
6         NaN NaN        NaN
7         NaN NaN        NaN
8         NaN NaN        NaN
9         NaN NaN        NaN
10        NaN NaN        NaN
11        NaN NaN        NaN
12        NaN NaN        NaN
13        NaN NaN        NaN
14        NaN NaN        NaN
15        NaN NaN        NaN
16        NaN NaN        NaN
17        NaN NaN        NaN
18        NaN NaN        NaN
19        NaN NaN        NaN

[20 rows x 28 columns]

In [80]:
df_other_attributes = df_er_registration.drop(columns=['Activity'])
df_other_attributes.head()

,Case ID,InfectionSuspected,DiagnosticBlood,DisfuncOrg,SIRSCritTachypnea,Hypotensie,SIRSCritHeartRate,Infusion,DiagnosticArtAstrup,Age,...,DiagnosticUrinaryCulture,SIRSCritLeucos,Oligurie,DiagnosticLacticAcid,Hypoxie,DiagnosticUrinarySediment,DiagnosticECG,Leucocytes,CRP,LacticAcid
0,A,True,True,True,True,True,True,True,True,85.0,...,True,False,False,True,False,True,True,NaN,NaN,NaN
1,B,True,True,False,True,False,True,True,False,45.0,...,True,False,False,True,False,True,True,NaN,NaN,NaN
2,C,True,True,False,False,False,True,True,True,55.0,...,True,False,False,True,False,True,True,NaN,NaN,NaN
3,D,True,True,False,True,False,True,True,True,70.0,...,False,False,False,True,False,False,True,NaN,NaN,NaN
4,E,True,True,False,True,False,True,True,True,75.0,...,True,False,False,True,False,True,True,NaN,NaN,NaN