In [191]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [192]:
df = pd.read_csv("Sepsis_Cases_Log.csv")

In [193]:
df = df.drop(columns=['org:group', 'Complete Timestamp', 'Variant', 'Variant index', 'Diagnose', 'lifecycle:transition'])

In [194]:
df_act_flow = pd.DataFrame()

# Loop through each unique Case ID
for case in df['Case ID'].unique():
    # Filter the data for the current Case ID
    case_data = df[df['Case ID'] == case]
    
    # Extract the activities as a list
    activity_flow = case_data['Activity'].tolist()
    
    # Add the Case ID as the first column and the activities as subsequent columns
    row_data = [case] + activity_flow
    
    # Append the row to the final DataFrame
    df_act_flow = pd.concat([df_act_flow, pd.DataFrame([row_data])], ignore_index=True)

# Rename columns: first column as 'Case ID', remaining columns as 'Activity 1', 'Activity 2', etc.
columns = ['Case ID'] + [f'Activity {i+1}' for i in range(df_act_flow.shape[1] - 1)]
df_act_flow.columns = columns

# Inspect the resulting DataFrame
print(df_act_flow.head(10))

  Case ID       Activity 1  Activity 2        Activity 3      Activity 4  \
0       A  ER Registration  Leucocytes               CRP      LacticAcid
1       B  ER Registration   ER Triage               CRP      LacticAcid
2       C  ER Registration   ER Triage  ER Sepsis Triage      Leucocytes
3       D  ER Registration   ER Triage  ER Sepsis Triage             CRP
4       E  ER Registration   ER Triage  ER Sepsis Triage       IV Liquid
5       F  ER Registration   ER Triage  ER Sepsis Triage      Leucocytes
6       G  ER Registration   ER Triage  ER Sepsis Triage       IV Liquid
7       H  ER Registration   ER Triage  ER Sepsis Triage             CRP
8       I  ER Registration   ER Triage  ER Sepsis Triage  IV Antibiotics
9       J  ER Registration   ER Triage  ER Sepsis Triage             CRP

       Activity 5        Activity 6      Activity 7      Activity 8  \
0       ER Triage  ER Sepsis Triage       IV Liquid  IV Antibiotics
1      Leucocytes  ER Sepsis Triage       IV Liquid  IV Antibiotics
2             CRP         IV Liquid  IV Antibiotics    Admission NC
3      LacticAcid        Leucocytes       IV Liquid  IV Antibiotics
4             CRP        Leucocytes      LacticAcid  IV Antibiotics
5             CRP        LacticAcid  IV Antibiotics       IV Liquid
6  IV Antibiotics        LacticAcid             CRP      Leucocytes
7      LacticAcid        Leucocytes    Admission IC    Admission NC
8      Leucocytes               CRP      LacticAcid    Admission NC
9      Leucocytes        LacticAcid       IV Liquid  IV Antibiotics

     Activity 9  ... Activity 176 Activity 177 Activity 178 Activity 179  \
0  Admission NC  ...          NaN          NaN          NaN          NaN
1  Admission NC  ...          NaN          NaN          NaN          NaN
2  Admission NC  ...          NaN          NaN          NaN          NaN
3  Admission NC  ...          NaN          NaN          NaN          NaN
4           NaN  ...          NaN          NaN          NaN          NaN
5  Admission NC  ...          NaN          NaN          NaN          NaN
6  Admission NC  ...          NaN          NaN          NaN          NaN
7           CRP  ...          NaN          NaN          NaN          NaN
8    Leucocytes  ...          NaN          NaN          NaN          NaN
9  Admission NC  ...          NaN          NaN          NaN          NaN

  Activity 180 Activity 181 Activity 182 Activity 183 Activity 184  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

  Activity 185
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN

[10 rows x 186 columns]

In [195]:
# Filter the DataFrame to include only rows where Activity == 'ER Registration'
df_er_registration = df[df['Activity'] == 'ER Registration']

# Reset index for cleanliness (optional)
df_er_registration = df_er_registration.reset_index(drop=True)

df_er_registration.shape

(1013, 28)

In [196]:
df_other_attributes = df_er_registration.drop(columns=['Activity', 'Leucocytes', 'CRP', 'LacticAcid'])
df_other_attributes.head()

,Case ID,InfectionSuspected,DiagnosticBlood,DisfuncOrg,SIRSCritTachypnea,Hypotensie,SIRSCritHeartRate,Infusion,DiagnosticArtAstrup,Age,...,SIRSCriteria2OrMore,DiagnosticXthorax,SIRSCritTemperature,DiagnosticUrinaryCulture,SIRSCritLeucos,Oligurie,DiagnosticLacticAcid,Hypoxie,DiagnosticUrinarySediment,DiagnosticECG
0,A,True,True,True,True,True,True,True,True,85.0,...,True,True,True,True,False,False,True,False,True,True
1,B,True,True,False,True,False,True,True,False,45.0,...,True,True,True,True,False,False,True,False,True,True
2,C,True,True,False,False,False,True,True,True,55.0,...,True,False,True,True,False,False,True,False,True,True
3,D,True,True,False,True,False,True,True,True,70.0,...,True,True,True,False,False,False,True,False,False,True
4,E,True,True,False,True,False,True,True,True,75.0,...,True,True,True,True,False,False,True,False,True,True

In [197]:
df_diagnosis = df[['Case ID', 'Activity','Leucocytes', 'CRP', 'LacticAcid']]
df_diagnosis = df_diagnosis.dropna(subset=['Leucocytes', 'CRP', 'LacticAcid'], how='all')
df_diagnosis.head()

   Case ID    Activity  Leucocytes    CRP  LacticAcid
1        A  Leucocytes         9.6    NaN         NaN
2        A         CRP         NaN   21.0         NaN
3        A  LacticAcid         NaN    NaN         2.2
9        A         CRP         NaN  109.0         NaN
10       A  Leucocytes         8.7    NaN         NaN

In [198]:
df_act_flow.to_csv('Sepsis_Activity_Flow.csv', index=False)
df_other_attributes.to_csv('Sepsis_Other_Attributes.csv', index=False)
df_diagnosis.to_csv('Sepsis_Diagnosis.csv', index=False)